.react-time-picker {
	width: 100%;
}

.react-time-picker__wrapper {
	padding: 1.25rem;
}
.react-time-picker__inputGroup__hour,
.react-time-picker__inputGroup__minute,
.react-time-picker__inputGroup__second {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.react-time-picker__inputGroup__leadingZero {
	padding-left: 0.5rem;
}
.react-time-picker__inputGroup__hour,
.react-time-picker__inputGroup__minute,
.react-time-picker__inputGroup__second,
.react-time-picker__inputGroup__amPm {
	color: var(--white);
}
.react-time-picker__button svg {
	fill: var(--white);
}
.react-time-picker__clear-button svg{
	stroke: var(--white);
}